* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  font-family: "Times New Roman", Times, serif;
}
:root {
  --text50px: 50px;
  --color: green;
  --background: black;
}
header {
  background-color: var(--background);
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

header h1 {
  font-size: var(--text50px);
  color: var(--color);
  display: inline;
}

header nav {
  float: right;
}

header nav ul li {
  display: inline-block;
  padding: 10px;
  margin: 12px 10px 0 0;
  border-bottom: green 3px solid;
}

header nav ul li a {
  text-decoration: none;
  font-size: 26px;
  color: var(--color);
}

header a:hover {
  color: black;
  background-color: yellow;
  padding: 5px;
}

.hero {
  background-image: url(images/windowsXP.jpg);
  background-size: cover;
  height: 200px;
  padding: 150px 0 0 0;
  background-position: center;
}
.hero-sub {
  font-size: 35px;
  float: Right;
  padding: 2px;
  margin: 0 20px 0 0;
  color: var(--color);
  background-color: var(--background);
}

.contents {
  display: flex;
  justify-content: left;
  text-align: right;
  position: absolute;
}

.contents nav h4 {
  color: var(--color);
  font-size: var(--text50px);
  border-right: green 3px solid;
  padding: 0 10px 20px 0;
}

.contents nav ul li {
  margin: 25px 0 25px 100px;
  list-style: none;
}

#work {
  padding: 0 10px 500px 0;
  border-right: green 3px solid;
}

.about-me {
  margin: 50px 20px 0 20px;
}

.about-me p {
  display: flex;
  text-align: left;
  font-size: 1.6vw;
  color: var(--color);
}

.work div {
  background-color: blue;
  height: 100px;
  width: 100px;
}
