* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}
:root {
  --text50px: 50px;
  --color: green;
  --background: black;
}
header {
  background-color: var(--background);
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

header h1 {
  font-size: var(--text50px);
  color: var(--color);
  display: inline;
}
header nav {
  float: right;
}

header nav ul li {
  display: inline-block;
  padding: 10px;
  margin: 12px 10px 0 0;
}

header a {
  text-decoration: none;
  font-size: 26px;
  color: var(--color);
}

.hero {
  background-image: url(images/windowsXP.jpg);
  background-size: cover;
  height: 200px;
  padding: 150px 0 0 0;
  background-position: center;
}
.hero-sub {
  font-size: 35px;
  float: Right;
  padding: 1px;
  margin: 0 20px 0 0;
  color: var(--color);
  background-color: var(--background);
}

.contents {
  display: flex;
  justify-content: left;
  text-align: right;
}

.contents nav h4 {
  color: var(--color);
  font-size: var(--text50px);
}

.contents nav ul li {
  margin: 25px 0 25px 100px;
  list-style: none;
}
